<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wnagzihxa1n.contentprovider"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="wnagzihxa1n.permission.ReadMyContentProvider"
        android:label="Read MyContentProvider"
        android:protectionLevel="normal"/>

    <permission
        android:name="wnagzihxa1n.permission.WriteMyContentProvider"
        android:label="Write MyContentProvider"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.wnagzihxa1n.contentprovider.MyContentProvider"
            android:name=".MyContentProvider"
            android:exported="true"
            android:readPermission="wnagzihxa1n.permission.ReadMyContentProvider"
            android:writePermission="wnagzihxa1n.permission.WriteMyContentProvider"
            android:multiprocess="true">
        </provider>
    </application>

</manifest>