<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.description }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
      	  
          <li>
      		  <a href="{{ site.url }}/feed.xml"><span class="icon icon--rss">{% include icon-rss.svg %}</span><span class="username"> subscribe </span></a>
      	  </li>
          
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
