<link href="https://cdn.bootcss.com/prism/1.6.0/themes/prism.min.css" rel="stylesheet">  
<!--<link href="https://cdn.bootcss.com/prism/1.6.0/themes/prism-tomorrow.min.css" rel="stylesheet">  -->

<script src="https://cdn.bootcss.com/prism/1.6.0/prism.min.js"></script>  

<script src="https://cdn.bootcss.com/prism/1.6.0/components/prism-bash.min.js"></script>  
<script src="https://cdn.bootcss.com/prism/1.6.0/components/prism-c.min.js"></script>  
<script src="https://cdn.bootcss.com/prism/1.6.0/components/prism-python.min.js"></script>  
<script src="https://cdn.bootcss.com/prism/1.6.0/components/prism-makefile.min.js"></script>  
<script src="https://cdn.bootcss.com/prism/1.6.0/components/prism-go.min.js"></script>  

<script>

//把所有没class的 pre code标签加上一个language-default类别，以便被prism.js处理
//$('code:not([class])').addClass("language-default");

// 暂时先不用，注释掉。
/*
window.onload = function(){
	var codes = document.querySelectorAll('pre > code:not([class])');

	for(var i = 0; i < codes.length; ++i){
		codes[i].setAttribute("class","language-default");
		codes[i].parentNode.setAttribute("class","language-default");
	}
};
*/
</script>
