---
layout: default
---

<style>
    ul.friends_ul li.friends_li{ float:left; margin-left:20px; list-style-type:none;}
    li a.friends_li_a {display: block; color: black; text-align: left; padding: 14px 16px; text-decoration: none;}
</style>

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% include header.html %}

{%- if site.posts.size > 0 -%}
<ul class="posts">
    <li>
        <h1 id="posts-label">
            About Me
        </h1>
    </li>
    I am wnagzihxa1n, an unknown iOS/Android security researcher @TLE Lab. Feel free to contact me.
    <br><br>
    wnagzihxa1n@gmail.com
</ul>

{%- endif -%}