---
layout: default
---

<style>
    ul.friends_ul li.friends_li{ float:left; margin-left:20px; list-style-type:none;}
    li a.friends_li_a {display: block; color: black; text-align: left; padding: 14px 16px; text-decoration: none;}
</style>

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% include header.html %}

{%- if site.posts.size > 0 -%}
<ul class="posts">
    <li>
        <h1 id="posts-label">
            Here are my best friends
        </h1>
    </li>

    <li><a class="friends_li_a" href="http://pcat.cc" target="_blank">1. Pcat：pcat.cc</a></li>
    <li><a class="friends_li_a" href="https://egguncle.github.io" target="_blank">2. 一只大茶蛋：egguncle.github.io</a></li>
    <li><a class="friends_li_a" href="https://hyrathon.github.io" target="_blank">3. Joachim Hyrathon: hyrathon.github.io</a></li>
</ul>

{%- endif -%}