---
layout: default
---
{% include prism.html %}

<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <article class="post-content">
        {% if page.mathjax %} {% include mathjax.html %} {% endif %}
        {{ content }}
    </article>
    {% if page.diagram %} {% include diagram.html %} {% endif %}
    {% unless page.disable_disqus %} {%include disqus.html %} {% endunless %}
    {% if page.ruby_notation %} {% include ruby_notation.html %} {% endif %}
</div>
